*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
nav{
    /* border: 1px solid red; */
    width: 100%;
    padding: 20px;
    box-shadow: 1px 0px 20px 9px rgba(211, 211, 211, 0.269);
    position: fixed;
    z-index: 4000;
    top: 0;
    background-color: white;


}
nav  .logo{
    margin-left: 100px;
    text-decoration: none;
    color: #444444;
    font-size: 24px;
    font-weight: 500;

}
nav ul{
    display: inline;
    margin-left: 662px;
}
nav ul li{
    display: inline;
    margin-left:34px;
}
nav ul li a{
    text-decoration: none;
    color: #444444;
    font-size: 20px;
    font-weight: 500;
}
nav ul li a:hover{
    color: #006fbe;
}
nav  .logo:hover{
    color: #006fbe;
}
.id{
    /* border: 1px solid green; */
    width: 100%;
    height: 75px;
    margin-top: 70px;
    background-color: #f5f7fb;
}
.id ul li{
    display: inline;
    font-size: 20px;
}
.id ul{
    display: inline;
    margin-left: 1388px;

}
.id .our{
    margin-top: 5px;
    font-size: 28px;
    margin-left: 115px;
}
.id ul li a{
    text-decoration: none;
    font-size: 20px;
}
.cont{
    border: 1px solid green;
    display: flex;
}
.cont1{
    /* border: 1px solid red; */
    width: 500px;
    height: 900px;
    position: relative;
    margin-left: 126px;
    margin-top: 74px;
    overflow: hidden;
}
.card{
    /* border: 1px solid purple; */
    width: 500px;
    height: 500px;

}
.card img{
    width: 100%;
    height: 100%;
}
.card-body{
    position: absolute;
    left: 48px;
    top: 420px;
    /* border: 1px solid green; */
    right: 53px;
    background-color: white;
    line-height: 27px;
    padding: 20px;
}
.cont1:hover .card{
    transform: scale(1.1);
}
.cont1:hover .card-body{
    border-top: 6px solid green;
}
.cont2{
    /* border: 1px solid red; */
    width: 500px;
    height: 900px;
    position: relative;
    margin-left: 126px;
    margin-top: 74px;
    overflow: hidden;
}
.cont2:hover .card{
    transform: scale(1.1);
}
.cont2:hover .card-body{
    border-top: 6px solid blue;
}
.foot{
    border: 1px solid purple;
    width: 100%;
    height: 230px;
    text-align: center;
    padding: 12px;
    background-color: #1d284b;
    color: white;
}
.social{
    
    /* border: 1px solid green; */
    width: 300px;
    height: 61px;
    display: flex;
    margin-left: 40%;
    margin-top: 20px;
    padding-left: 27px;

}
.social a{
    text-decoration: none;
    color: white;
}
.twitter {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-left: 13px;


}
.facebook {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-left: 13px;


}
.instagram {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-left: 13px;

}
.skype {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-left: 13px;

}
.linkedin {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-left: 13px;

}
.scroll-arrow
{
    background-color: #006fbe;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 98765;
} 
.scroll-arrow a
{
    color: white;
    text-decoration: none;
    font-size: 40px;
     padding: 15px;
     font-weight: bold;
}