.card{
    height: 300px;
    width: 400px;
    margin: 50px auto;
    border: 5px groove purple;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);

}
div:hover img{
    transform: scale(1.1);
    filter: none;
}
.card1 img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);

}
.card1{
    height: 300px;
    width: 400px;
    margin: 50px auto;
    border: 5px groove purple;
    overflow: hidden;
}