*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
}
.card{
    height: 411px;
    width: 250px;
    border: 1px solid black;
    margin: 50px auto;

}
.card  img{
    /* height: 350px; */
    width: 100%;
    margin-top: 0px;
}
.head{
    margin-top: 26px;
    color: blue;
    margin-left: 15px


}
.para{
    margin-top: 15px;
    margin-left: 15px;
    

}
