/* element selectors */
/* h1
{
    color: #e9d30f;
    font-family:italic;
    text-shadow: 5px 5px 1px #e86a7f;
    font-size: 90px;
}
p
{
    color: aquamarine;
    font-size: 90px;
} */
/* --------------------------------------------------------------------- */
/* group selectors */
/* a,h1,p{
    color: aquamarine;
    font-size: 90px;
    text-decoration: overline;
} */
/* ------------------------------------------------ */
/* class selectors  */
/* p.clr{
    color:red
} */
/* ------------------------------------------------------------------------ */
/* generic class selector */
/* .clr{
    color: green;
} */
/* -------------------------------------------------------------------------- */
/* id selectors */
/* #color
{
    color: violet;
} */
/* attribute selectors */
/* input[minlength]
{
    background-color:green;
} */
/* attribute type  selectors */
/* input[type="email"]{
    color: rgb(30, 36, 202);
} */
/* descedent child  selectors */
/* div a {
    color: red;
} */
/* direct child selector */
/* div>a{
    color: greenyellow;
} */
/* adajacent sibling selector */
/* div+p
{
    color:red;

} */
/* general sibling selector */
/* div~p{
    color:burlywood
} */
/* universal selectors  */
/* *{
    color:purple;
} */


